/* Pleasure body background */
body {
    background: white;
}

/* Header now not fixed */
body:not(.body_im) #page_layout {
    position: static;
}

body:not(.body_im) #page_header_cont {
    position: absolute;
}

/* Remove icons from the left menu */
#side_bar .left_icon {
    display: none;
}
#side_bar .left_label {
    padding-left: 10px;
}

/* Traditional word in the left menu */
#l_msg > a > span > .inl_bl:before,
#l_fr > a > span > .inl_bl:before,
#l_gr > a > span > .inl_bl:before,
#l_ph > a > span > .inl_bl:before,
#l_aud > a > span > .inl_bl:before,
#l_vid > a > span > .inl_bl:before {
    content: "Мои ";
}

/* Contrasty color of unread messages */
.nim-dialog_unread {
    background: #dae1e8 !important;
}

/* Output unread messages */
.nim-dialog.nim-dialog_classic.nim-dialog_unread-out {
	background: #f0f2f5 !important;
}

/* Contrasty color of post border */
.feed_row .page_block, #page_wall_posts .page_block {
    border-top: 2px solid #dae1e8;
}

/* News wight */
.wall_wrap, .feed_post_field_wrap, #feed_recommends {
    width: 600px;   
}

#feed_new_posts {
    width: 570px;
}

.narrow_column_wrap {
    margin-right: -60px;
}

/* Opacity for the right menu in news */
.narrow_column_wrap .fixed {
    opacity: 0.4;
    transition: opacity 0.3s;
}

.narrow_column_wrap .fixed:hover {
    opacity: 1;
}

/* Photos (position) */
#layer {
    margin-top: 100px !important;   
}

.pv_left_wrap {
    float: none !important;
}

.pv_img_area_wrap a {
    width: auto !important;
}

.pv_cont .pv_close_btn {
    top: 35px !important;
    right: 35px !important;   
}

/* Photos comments (position) */
#pv_narrow {
    width: 100% !important;
}

#pv_narrow > div.ui_scroll_overflow {
    width: 90%;
    margin: 0 auto;   
}

.pv_narrow_column_wrap {
    width: 100%;  
}

#pv_reply_form_wrap {
    width: 100%;   
    margin-bottom: 20px;
}

#pv_reply_form {
    width: 750px;
    margin-left: 70px;  
}

#pv_reply_form:not(.reply_box_open) > .reply_box {
    border-bottom: 1px solid #e7e8ec;
}

/* Photos (background) */
.pv_img_area_wrap {
    background: white;
}

.pv_bottom_info {
    background: #e7e8ec;
}

.pv_album_name a,
.pv_counter,
.pv_cont .pv_bottom_actions > .pv_actions_more,
.pv_cont .pv_bottom_actions > a,
.pv_cont .pv_bottom_actions > span {
    color: black;
    opacity: 0.6;
}

/* Photos list (years delimiter) */
.photos_period_delimiter_fixed {
    margin: 0 0 0 -20px;
}

/* Audio header */
.audio_rows_header.fixed {
    top: 0 !important;
}

/* Search fields */
.ui_search.ui_search_fixed {
	top: 0 !important;
}
